name: "CLA Assistant"

on:
  issue_comment:
    types: [created]
  pull_request:
    types: [opened, synchronize]

jobs:
  cla:
    runs-on: ubuntu-latest

    steps:
      - name: CLA Assistant
        uses: cla-assistant/github-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-document: "CLA.md"
          path-to-signatures: "cla.json"
          allowlist: dependabot[bot], github-actions[bot]
